<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
	xmlns:gap   = "http://phonegap.com/ns/1.0"
	id          = "com.phonegap.alphareto"
	version     = "0.0.1">
    <name>Alpha reto</name>
    <description>
        Completa los retos de Alpha
    </description>
    <author email="wile.tinoco@havasmedia.com" href="http://havasmedia.com">
       Wile Tinoco
    </author>
	<preference name="load-url-timeout" value="60000" />
	<access origin="http://mediacontacts-app.com" />
    </widget>
